server:
  port: 9000
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-xxx.eu.auth0.com/
  datasource:
    url: jdbc:postgresql://authorization-db:5432/auth_service
    username: auth_user
    password: auth_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
custom-settings:
  accessGrantedByDefault: true