# from Matej Gallos simmulation of the provenance application https://gitlab.ics.muni.cz/422328/dbprov/
# deleted not needed services
services:
  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dbprov
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      timeout: 5s
      retries: 10
    ports:
      - 5432:5432

  neo4j-hospital:
    image: neo4j:bullseye
    environment:
      NEO4J_dbms_usage__report_enabled: false
      NEO4J_AUTH: neo4j/password
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider 0.0.0.0:7474 || exit 1" ]
      timeout: 5s
      retries: 10
    ports:
      - 7474:7474
      - 7687:7687

  neo4j-pathology:
    image: neo4j:bullseye
    environment:
      NEO4J_dbms_usage__report_enabled: false
      NEO4J_AUTH: neo4j/password
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:7474 || exit 1" ]
      timeout: 5s
      retries: 10

  trusted-party:
    build:
      dockerfile: Dockerfile.TrustedParty
    image: trusted_party
    ports:
      - 8020:8020
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    healthcheck:
      timeout: 5s
      retries: 10
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:8020/health/ || exit 1" ]

  prov-storage-hospital:
    build:
      dockerfile: Dockerfile.ProvStorage
    image: distributed_prov_system
    environment:
      NEO4J_BOLT_URL: bolt://neo4j:password@neo4j-hospital:7687
    configs:
      - source: hospital-ps-config
        target: /dbprov/config/config.json
        mode: 0600
    ports:
      - 8001:8000
    depends_on:
      trusted-party:
        condition: service_healthy
    healthcheck:
      timeout: 5s
      retries: 10
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:8000/health/ || exit 1" ]

  prov-storage-pathology:
    build:
      dockerfile: Dockerfile.ProvStorage
    image: distributed_prov_system
    environment:
      NEO4J_BOLT_URL: bolt://neo4j:password@neo4j-pathology:7687
    configs:
      - source: pathology-ps-config
        target: /dbprov/config/config.json
        mode: 0600
    ports:
      - 8002:8000
    depends_on:
      trusted-party:
        condition: service_healthy
    healthcheck:
      timeout: 5s
      retries: 10
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:8000/health/ || exit 1" ]

configs:
  hospital-ps-config:
    file: ./distributed_prov_system/config/config-hospital.json
  pathology-ps-config:
    file: ./distributed_prov_system/config/config-pathology.json

