[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
countryName = AT
commonName = intermediate2_ca1

[ req_ext ]
subjectAltName = critical,@alt_names

[ alt_names ]
URI.1 = urn:uuid:intermediate2_ca1
